.chat-app{
  height : 100vh;
  display : flex;
  flex-flow : column nowrap;
  background-color : #f95;
}
.form{
  display : flex;
  justify-content: space-between;
}

.user-info{
  height : 10vh;
  font-size : 2em;
  text-align : center;
}
.chat-log{
  height : 80vh;
  overflow-y: auto;
  display : flex;
  flex-flow : column-reverse nowrap;
  padding : 5px;
}
.chat-log span{
  margin : 2px;
  min-height: 50px;
  display : flex;
  flex-flow: column nowrap;
  background-color: #fff;
}
.chat-log>span>label{
  padding: 2px;
}
.chat-log>span>label:first-child{
  min-height : 20px;
  font-size: 1em;
  border-bottom : 1px solid #666;
}
.chat-log>span>label:last-child{
  min-height : 30px;
  max-width : 80%;
  font-size: 1.3em;
}
.chat-box{
  height : 10vh;
}
.chat-box input{
  height : 40px;
  padding :2px;
  margin-top : 10px;
}
.chat-box input[type="text"]{
  width : 100%;
  margin-right : 10px;
  margin-left : 5px;
}
.chat-box input[type="submit"]{
  height : 48px;
  width : 60px;
  margin-right : 5px;
}
