.chat-app{
  border : 1px solid black;
  padding : 5px;
  max-width : 500px
}
.user-info{
  border-bottom : 1px solid black;
}
.chat-log{
  height : 300px;
  display : flex;
  flex-flow : column-reverse nowrap;
  
  overflow-y: scroll;
}
.chat-box{
  border-top : 1px solid black;
}

.chat-box .form input[type="text"]{
  height : 25px;
  width : 100%;
  margin-right: 5px;
}
.form{
  padding : 5px;
  padding-top : 10px;
  display : flex;
  justify-content: space-between;
}
.username>input{
  height : 20px;
  border : none;
  font-size : 1em;
}
